/*.end {
  z-index: 5;
}
.center {
  z-index: 50;
}*/

html, body {
  /*background-image: linear-gradient(darkgreen, green, lightgreen);*/
}
body {
  width: 100%;
  margin: auto;

  background-repeat: no-repeat;
  background-size: cover;
}


/*Navbar settings*/

.affix {
      top: 50px;
      width: 100%;
      background-color: inherit;
      border-top: 1px solid black;
      z-index: 4999 !important;
}
.affix + .container-fluid {
    padding: 10px auto;
}
.affix-1 {
      top: 40px;
      width: 100%;
      background-color: green;
      z-index: 4999 !important;
}
.affix-1 + .container-fluid {
    padding: 10px auto;
}
header img {
  padding: 10px;
}

#news {
  font-family: Playfair Display;
  font-size: 76px;
  font-weight: bold;
  letter-spacing: 1.4px;
  text-align: center;
  padding: 20px;
}

form {
  margin: auto;
  text-align: center;
  margin-bottom: 5px;
}

h2 {
  font-family: Playfair Display;
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: 1.2px;
  color: #ffffff;
  padding: 10px 5px;
}

h3 {
  font-family: Source Sans Pro;
  font-size: 18px;
  font-weight: 600;
  line-height: 0.94;
  letter-spacing: 0.5px;
  text-align: center;
  color: #028407;
  padding: 5px;
}

.title p {
  font-family: Source Sans Pro;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 1.2px;
  text-align: left;
  color: white;
  padding: 5px;
}

i {
  padding: 5px;
}

button:focus {
  outline: 0;
}
.articlerow {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  min-height: 250px;
  border-top: solid 1px #ffffff;
  border-bottom: solid 1px #ffffff;
}

.article {
  width: 66%;
}

.share {
  width: 32%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 200px;
}

.storyimage {
  width: 250px;
  height: auto;
}

.tweet {
  padding: 5px;
  width: 163px;
  height: 42px;
  border-radius: 0;
  background-color: #028407;
  border: 1px solid orange;
  box-shadow: 1px 1px 1px 1px gray, 1px 1px 1px 1px white;
  font-family: Source Sans Pro;
  font-size: 18px;
  font-weight: 600;
  line-height: 0.94;
  letter-spacing: 0.5px;
  text-align: center;
  color: orange;
}


#engadget, #recode, #espn, #fox {
  font-family: Source Sans Pro;
  font-size: 24px;
  font-weight: 600;
  line-height: 0.94;
  letter-spacing: 0.5px;
  text-align: center;
  color: #ffffff;
  background-color: transparent;
  border: 0px;
  width: 100px;
  height: 35px;
  padding: 5px;
}

#engadget:focus, #recode:focus, #nextWeb:focus, #fox:focus, {
  border-bottom: solid 5px white;
  padding-bottom: 3px;
}

@media (max-width: 640px) {
  .articlerow {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .article {
    width: 98%;
  }

  .share {
    width: 98%;
    flex-direction: row;
  }

  form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
  }
  .affix {
    top: 0px;
    width: 80%;
    margin-left: 20px;
    float:inherit;
    background-color: inherit;
    border-top: 1px solid black;
    z-index: 5000 !important;
  }
  .affix + .container-fluid {
      padding: 10px auto;

  #news {
    font-size: 48px;
  }

  h2 {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .share {
    flex-direction: column;
    width: 98%;
  }

  .readmore p {
    text-align: center;
  }

  .storyimage {
    width: 100%;
    height: auto;
  }

  a {
    text-align: center;
  }
  button {
    margin-top: 10px;
  }
  #engadget, #recode, #espn, #fox {
    font-size: 14px;
    padding: 5px;
  }
  #news {
    font-size: 24px;
  }
  .title h2 {
    font-size: 18px;
  }
}
