/*
 * Globals
 */
 html,
 body {
   height: 100%;
 }
 body {
   color: #fff;
   text-align: center;
   text-shadow: 0 1px 3px rgba(0,0,0,.5);
   background-color: green;
 }

/* Links */
a,
a:focus,
a:hover {
  color: orange;
}
/*  NAVIGATION BAR   */
.navbar-inverse {
  color: orange;
}
.navbar-default .navbar-brand {
  color: green;
  font-weight: bolder;
}

.topLogo {
  background: url("https://github.com/J2smoov4u/Basketball-Go/blob/master/resources/images/navbarLogo1.png?raw=true");
  background-repeat: no-repeat;
  min-width: 200px;
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  z-index: 1000;
}
span .glyphicon .glyphicon-home {
  position: fixed;
}
.glyphicon-home ,
.icon-bar {
  color: orange;
}

.navbar {
  margin-bottom: 0px;
  background-color: green;
  border-bottom: 1px solid orange;
}
.navbarLogo {
  border: none;
}
.navbar-brand
.navbar-btn {
  margin-right: 20px;
}
#navbar8 {
  display: none;
}
.dropdown-menu li a {

}
#topNav {
  z-index: 900;
}
.navbar-inverse .navbar-nav>li>a {
  color: white;
  font-weight: bolder;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover, span {
  color: orange;
  background-color: green;
  font-weight: bold;
}
/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: lightgreen;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}
/*Opening Page*/
#top {
  margin-top: 50px;
  padding: 10px;
}
#go {
  max-width: 60%;
  margin: auto;
}
#mainImage {
  max-height: 350px;
  width: auto;
}
#ball {

}
.btn-primary {
  background-color: orange;
  border:1px solid #151617;
}

#space {
  padding: 10px;
}
/*#register {
  height: 100%;
}
.register-page {
  height: 50%;
}*/
/* REGISTRATION PAGE */
.form-control {
  max-height: 75px;
  min-height: 50px;
  font-size: 24px;
}
.form-group input {
  font-size: 32px;
  min-height: 75px;
}
#inputPassword {
  margin-top: 10px;
}
.form {
  width: 100%;
  max-height: 100%;
}
/*
 * Base structure
 */

#cover-pic {
  height: 100%;
  width: 100%;
  margin: auto;

}



/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
  /*border: 3px solid orange;*/
  width: 90%;
  height: 100%;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }

  .hide {
    display: none;
  }
}
/*.form-control {
  max-height: 50px;
}
.main-section {
  max-width: 75%;
}*/


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
  /*.form-control {
    font-size: 24px;
  }*/


  .main-section {
    max-width: 75%;
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%;
    border: none;
  }
  .form-signin {
    max-width: 50%;
    padding: 15px;
    margin: 0 auto;
  }
  .form-signin .form-signin-heading,
  .form-signin .checkbox {
    margin-bottom: 10px;
  }
  #cover-pic {
    height: 25%;
    width: 25%;
    margin: auto;
    -webkit-transition: width 3s, height 3s, -webkit-transform 2s; /* Safari */
      transition: width 3s, height 3s, transform 3s;
  }

  #cover-pic:hover {
      width: 50%;
      height:auto;
      -webkit-transform: rotate(360deg); /* Safari */
      transform: rotate(360deg);
  }
  #top {
    margin-top: 50px;
    padding: 10px;
  }
  #go {
    max-width: 60%;
    margin: auto;
  }
  #mainImage {
    max-height: 350px;
    width: auto;
  }
  #G {
    height: 350px;
    margin: 0px;
    padding-left: 75px;

  }
  #ball {
    height: 335px;
    margin-right: 150px;
    padding-top: 10px;
    z-index: 500;
  }
   div.col-xs-6.col-md-6.col-lg-6.no-space {
     padding: 0px;
  }
  .form-control {
    max-height: 50px;
    font-size: 24px;
  }
  .main-section {
    max-width: 75%;
  }

}
